# Ignore Python virtual environments
venv/
*/venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# System files
.DS_Store

# Env files (for security)
.env

# Ignore virtual environments
catchat-backend/venv/
venv/
*/venv/
